.carousel-container{
    width: 800px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    height: 450px;  
    overflow: hidden;
}
.carousel-container img{
    width: 100%;
    position: absolute;
}

.dot:hover, .dot.active{
    background-color: #f8f8f8;
}
button:hover{
    background-color: #fff !important;
    color: #000 !important;
    border: 2px solid #000 !important;
}