*{
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
    position: relative;
}
canvas{
    background:#008000;
    
}
p{
    line-height: 24px;
}

body .scoreboard{
    padding: 20px;
    color: #008000;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #fff;
    font-size: 48px;
}

body .high-score{
    padding: 20px;
    color:#ff0000;
    position: absolute;
    bottom: 40px;
    right: 20px;
    background-color: #fff;
    font-size: 48px;
}

body .start-menu, body .exit-menu{
    position: absolute;
    top: 50%;
    width: 500px;
    background-color: #adff2f;
    height: 300px;
    left: 50%;
    font-size: 24px;
    padding: 20px;
    line-height: 100px;
    color: #7d27ce;
    transform: translate(-50%, -50%);
}
body .exit-menu {
    height: 100px;
    font-size: 48px;
}
body .start-menu p, body .exit-menu p{
    text-align: left;
}

#bullet{
    display: none;
}

body .exit-menu{
    display: none;
}

body .ammo-sign{
    display: none;
    position: absolute;
    height: 40px;
    width: 40px;
    bottom: 40px;
    left: 100px;
}