.top-horizontal-line {
  border-top: 10px solid #1c1c1c;
}

.top-header {
  border-bottom: 1px solid #dddddd;
}

.bottom-header {
  border-bottom: 1px solid #dddddd;
}
.site-logo-wrapper {
  float: left;
}
.site-logo-text-wrapper {
  display: none;
  color: #b2b2b2;
  float: left;
  border-left: 1px solid #b2b2b2;
}
.top-header-left, .top-header-right{
   display: table;
}

.search-bar-input input {
  border: 1px solid #dddddd;
  outline: none;
  height: 22px;
  font-size: 14px;
}
.search-bar-button button{
    line-height: 20px;
    border: none;
}
.bottom-header{
    display: none;
    
}
@media screen and (min-width: 768px) {
    .site-logo-text-wrapper {
      display: block;
    }    
    .project-work-list ul li{
      float: left;
    }
    .project-work-list ul li:first-child{
      margin-right: 20px;
    }
  }
  @media screen and (min-width: 1025px) {
    .top-header-left {
      float: left;
    }
    .top-header-right {
      float: right;
      width: auto;
    }
    .search-bar-input{
        float: left;
    }
    .search-bar-button{
        float: left;
    }
    .search-bar-input input {
        width: 215px;
      }
      .top-container .mobile-navigation-menu{
          display: none;
      }
      .bottom-header{
          display: block;
      }
      .mobile-menu{
        display: none;
      }
      .profile-list ul li .profile-link a {
        margin-bottom:0px;
      }
      .project-work-title{
        display: block;
      }
      .project-work-list{
        float:left;    
        display: block;
      }
      .mobile-project-title{
        display: none;
      }
      .bottom-footer-left{
        float: left;
        text-align: left;
      }
      .bottom-footer-right{
        float: right;
        text-align: right;
      }
  }