* {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}

body {
  position: relative;
  height: 100vh;
}

body .game-over {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #000;
  opacity: 0.9;
  padding: 8% 0;
  height: 100%;
  width: 100%;
}

.winner-team,
.winner-tag {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.winner-team {
  width: 25%;
  height: 15%;
}
.winner-team img,
.winner-tag img {
  width: 100%;
  height: 100%;
}

.winner-tag {
  width: 15%;
  height: 10%;
  margin: 8% 0;
}
.lower-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

.red-score-game-over,
.blue-score-game-over {
  width: 25%;
  font-size: 48px;
  text-align: center;
  padding: 1% 0;
  color: #fff;
  background-color: #ff0000;
}

.blue-score-game-over {
  background-color: #0000ff;
}
.nav-button {
  width: 100px;
  cursor: pointer;
}

.nav-button:hover {
  width: 80px;
  margin: 10px;
}

.nav-button img {
  width: 100%;
}

body .home-page {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background: url("../assets/images/home-bg.gif") no-repeat;
  background-size: cover;
  opacity: 0.8;
  height: 100%;
  padding: 4%;
  width: 92%;
}

.instructions {
  display: none;
  position: absolute;
  z-index: 6;
  background: url("../assets/images/game-instruction-bg.jpg") no-repeat;
  background-size: contain;
  width: 500px;
  height: 313px;
  padding: 4%;
  left: 50%;
  top: 50%;
  font-size: 24px;
  transform: translate(-50%, -50%);
}

.fade-out {
  animation-duration: 4s;
  animation-name: fade-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.scoreboard {
  display: none;
}

.winner-team {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.score-banner {
  display: flex;
  justify-content: space-between;
  height: 15%;
  font-size: 48px;
  text-align: center;
  color: #fff;
}

.red-total-score {
  border-radius: 5px;
  width: 12%;
  background-color: #ff0000;
  padding: 2.5% 0;
}

.blue-total-score {
  border-radius: 5px;
  width: 12%;
  background-color: #0000ff;
  padding: 2.5% 0;
}

.game-grid {
  display: flex;
  justify-content: center;
  margin: 4% 0;
}

.game-grid div {
  width: 200px;
  height: 200px;
  margin: 40px;
  border-radius: 10px;
  cursor: pointer;
}

.game-grid div:hover {
  border: 10px solid #ffd700;
  width: 180px;
  height: 180px;
}

.game-grid div img {
  width: 100%;
  height: 100%;
}
.random-button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 200px;
  height: 80px;
  cursor: pointer;
}

.random-button:hover {
  width: 190px;
  height: 70px;
}

.random-button img {
  width: 100%;
  height: 100%;
}
